env="OPTIX"
user="optix"

#optix_hosts
Dev_WTC="iwb22002.ute.fedex.com"
Stage_WTC="vwb22002.ute.fedex.com,vwb22003.ute.fedex.com"
Stage_EDC="vwb22012.ute.fedex.com vwb22013.ute.fedex.com"
Prod_WTC="pwb00217.lhsprod.fedex.com,pwb00218.lhsprod.fedex.com"
Prod_EDC="pwb22021.lhsprod.fedex.com,pwb22022.lhsprod.fedex.com"

if [[ $Dev_WTC =~ `hostname` ]];
then DRSite="Dev_WTC"
elif [[ $Stage_WTC =~ `hostname` ]];
then DRSite="Stage_WTC"
elif [[ $Stage_EDC =~ `hostname` ]];
then DRSite="Stage_EDC"
elif [[ $Prod_WTC =~ `hostname` ]];
then DRSite="Prod_WTC"
elif [[ $Prod_EDC =~ `hostname` ]];
then DRSite="Prod_EDC"
else DRSite="undefined"
fi

#command variables
cmd_optix_start=("sudo" "-u" "$user" "/opt/software/optix/optix6/bin/start.optix")
cmd_optix_stop=("sudo" "-u" "$user" "/opt/software/optix/optix6/bin/stop.optix")
cmd_mailextractor_start=("sudo" "-u" "$user" "/opt/software/optix/optix6/bin/runDailyWorkMailDir.sh")
cmd_mailextractor_stop=("sudo" "-u" "$user" "kill" "$(ps aux | grep 'dailywork-config' | grep -v grep | awk '{print $2}')")
cmd_apachectl_start=("sudo" "-u" "$user" "/opt/fedex/optix/bin/apachectl" "unsecure" "start")
cmd_apachectl_stop=("sudo" "-u" "$user" "/opt/fedex/optix/bin/apachectl" "unsecure" "stop")
cmd_get_dr_state=("sudo" "-u" "$user" "/opt/fedex/DR/scripts/get_dr_state")
cmd_set_dr_active=("sudo" "-u" "$user" "/opt/fedex/DR/scripts/set_dr_state" "active")
cmd_set_dr_standby=("sudo" "-u" "$user" "/opt/fedex/DR/scripts/set_dr_state" "standby")
cmd_last_known_state=("more" "/var/fedex/DR/logs/last_known_state")